################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Shop/v16
/Shop/obj/Debug
/Shop/bin/Debug
/Products/bin/Debug
/Products/obj/Debug
/Products/App.config
/Products1Tests/bin/Debug
/Products1Tests/obj/Debug
/Products1Tests/Properties
/ShopTests/bin/Debug
/ShopTests/obj/Debug
/ShopTests/Properties
